.mainWrapper{
    display: grid;
    grid-template-rows: 14vh 86vh;
    grid-template-columns: 5vw 17vw 1fr 20vw 5vw;
}

.sidebar{
    text-align: left;
    overflow-y: scroll;
    padding: 3vw;
}

.mainArticle{
    text-align: left;
    overflow-y: scroll;
    padding: 5vw;
}