
/* サクラモード */

    .topMenu{
    background: rgb(239, 195, 189);
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    /* box-shadow: 5px 5px 10px gray; */
    z-index: 99;
    }
    
    .li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* color: rgb(1, 207, 210); */
    color: rgb(233, 88, 132);
    /* color: rgb(149, 126, 128); */
    font-size: 20px;
    font-weight: bold;
    }

    /* ヘッダー */

    .sakura-header{
        display: grid;
        margin: 0;
        grid-column: 1 / span 5;
        grid-template-columns: 5vw 25vw 1fr 25vw 5vw;
        /* grid-template-columns: 5vw 1fr 1fr 10vw 5vw; */
        box-shadow: 0 0 8px 4px gray;
    }

    .grid1-sakura{
        grid-row: 1;
        grid-column: 1;
        background: rgb(239, 195, 189);
        /* box-shadow: 5px 0 10px gray; */
    }
    
    .topLogo-sakura{
        grid-row: 1;
        grid-column: 2;
        font-size: 35px;
        background: rgb(239, 195, 189);
        color: rgb(233, 88, 132);
        font-weight: bold;
    }

    .topLogo-sakura a{
        color: rgb(233, 88, 132);
    }

    .grid2-sakura{
        grid-row: 1;
        grid-column: 3;
        background: rgb(239, 195, 189);
    }

    .changeYozakuraMode{
        grid-row: 1;
        grid-column: 4;
        font-size: 20px;
        background: rgb(239, 195, 189);
    }

    .grid3-sakura{
        grid-row: 1;
        grid-column: 5;
        background: rgb(239, 195, 189);
        /* box-shadow: 5px 0 5px gray; */
    }
    
    .icon-sakura{
        display: none;
    }

    .icon-yozakura{
        display: none;
    }

/* 追加 */

.sidebar-sakura{
    text-align: left;
    /* overflow-y: scroll; */
    padding: 3vw;
    grid-column: 2;
    grid-row: 2;
}

.mainArticle{
    /* color: rgb(28, 224, 28); */
    text-align: left;
    /* overflow-y: scroll; */
    padding: 5vw;
    grid-row: 2;
    grid-column: 3 / span 4;
}

.mainArticleAddCalc{
    text-align: left;
    padding: 5vw 1vw;
    grid-row: 2;
    grid-column: 3;
}


.subMenu{
    padding: 3vw 1vw;
    grid-row: 2;
    grid-column: 4;
    font-size: 20px;
    background: rgb(230, 242, 252);
    border-radius: 10px;
}


li{
    list-style: none;
    color: rgb(177, 78, 78);
    cursor: pointer;
}

.explanation-wrapper{
  padding: 5vw;
  background: #ffe6da;
  border-radius: 10px;
  color: rgb(177, 78, 78);
}

.table-of-contents{
    /* padding-inline-start: 10vw; */
    color: rgb(242, 107, 107);
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-size: 28px;
}

.padding-inline-start{
    /* padding-inline-start: 10vw; */
}

.list-item{
    display: list-item;
    list-style: none;
}

a{
    display: list-item;
    list-style: none;
}

.level_change_wrapper{
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.83em;
    margin-block-end: 2.0em;
}

.level_change_wrapper_calculator{
    display: flex;
    justify-content: space-between;
    margin-block-start: 0.83em;
    margin-block-end: 2.0em;
    /* padding: 1vh 5vw; */
}


.select_level{
    border: 2px solid rgb(177, 78, 78);
    /* display: flex; */
    display: inline-block;
    padding: 1vh 5vw;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color:rgb(177, 78, 78);
    /* text-align: center; */
    /* justify-content: center; */
}

.select_level:hover{
    background: #fff9b5;
}

.action{
    background: #fff9b5;
}

section {
    margin-bottom: 50px;
}

.top-image-size {
    width: 100%;
    border-radius: 5px;
}

.intro{
    border-left: 10px solid rgb(177, 78, 78);
    padding-left: 10px;
    color:rgb(242, 107, 107);
    font-size: 30px;
}

.font-color{
    color: rgb(78, 95, 106);
    font-size: 20px;
}

.font-color2{
    color:rgb(81, 139, 255);
}

.deco1{
    border: 10px dashed rgb(2, 255, 238);
}

.deco2{
    border: 10px solid rgb(225, 255, 253);
}

.underline{
    background: linear-gradient(transparent  70%, #fcdf08  70%);
}

table{
    width: 100%;
}

.table-size{
    width: 30vw;
}

.table-align{
    text-align: center;
}

.table-size-15{
    width: 15%;
}

.table-size-20{
    width: 20%;
}

.table-size-30{
    width: 30%;
}

.table-size-50{
    width: 50%;
}

.table-padding-1{
    padding: 1vw;
}

.box-deco{
    border: 10px ridge rgb(191, 217, 255);
    padding: 1vw;
    margin: 10px 0;
    border-radius: 10px;
}

.box-deco-def{
    background-color: #fff2c5;
    padding: 1vw;
    margin: 10px 0;
    border-radius: 10px;
}

.sideMenu{
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.sideList{
    list-style: none;
    font-size: 20px;
    padding-bottom: 5px;
}

.menu-sakura-color a{
    color: rgb(177, 78, 78);
}

a{
    text-decoration: none;
}

a:hover {
    color: rgb(0, 157, 255);
}

.topLogo-sakura a:hover{
    color: rgb(233, 88, 132);
}


.titleColor a{
    color: rgb(242, 107, 107);
}

.titleColor{
    color: rgb(242, 107, 107);
}

.pink{
    color: rgb(242, 107, 107);
}

.page1{
    color: red;
}

.img-size{
    width: 100%;
    border-radius: 5px;
    border: 5px solid;
}

/*　ヨザクラモード　*/

.yozakura-header{
    display: grid;
    margin: 0;
    grid-column: 1 / span 5;
    grid-template-columns: 5vw 25vw 1fr 25vw 5vw;
    box-shadow: 5px 5px 10px rgb(158, 229, 245);
    z-index: 99;
}

.grid1-yozakura{
    grid-row: 1;
    grid-column: 1;
    background: rgb(0, 25, 123);
}

.topLogo-yozakura{
    grid-row: 1;
    grid-column: 2;
    font-size: 35px;
    background: rgb(0, 25, 123);
    font-weight: bold;
}

.topLogo-yozakura a{
    color: rgb(21, 212, 255);
}

.grid2-yozakura{
    grid-row: 1;
    grid-column: 3;
    background: rgb(0, 25, 123);
}

.changeSakuraMode{
    grid-row: 1;
    grid-column: 4;
    font-size: 20px;
    background: rgb(0, 25, 123);
    color: rgb(21, 212, 255);
}

.yozakura-font-color{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.yozakura-intro{
    border-left: 10px solid rgb(0, 115, 255);
    padding-left: 10px;
    color:rgb(21, 212, 255);
    font-size: 30px;
}

.grid3-yozakura{
    grid-row: 1;
    grid-column: 5;
    background: rgb(0, 25, 123);
}

.grid4-yozakura{
    grid-column: 1;
    background: rgb(46, 46, 46);
}

.sidebar-yozakura{
    text-align: left;
    overflow-y: scroll;
    padding: 3vw;
    grid-column: 2;
    grid-row: 2;
    background: rgb(46, 46, 46);
}

.yozakura-color{
    background: rgb(46, 46, 46);
}

.yozakura-title-color a{
    color: rgb(21, 212, 255);
}

.yozakura-title-color{
    color: rgb(21, 212, 255);
}

.menu-yozakura-color a{
    color: rgb(227, 235, 240);
}

.menu-yozakura-color a:hover{
    color:rgb(2, 255, 238);
}

.table-color{
    background: rgb(237, 255, 253);
    color:rgb(78, 95, 106);
}

.calculator_button_inner{
    font-size: 50px;
    position: fixed;
    padding: 20px;
    bottom: 3vh;
    right: 3vw;
    color: #0cc;
    background: black;
    border-radius: 50px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.calculator_button_inner:hover {
    opacity: 1.0;
    transition: all 300ms linear;
    background: hsl(183, 100%, 96%);
    z-index: 99;
}

#drawer{
    display: none;
}


/* レスポンシブ対応 */

@media only screen and (max-width:1024px) {
    .select_level{
        padding: 1vh 2vw;
    }

    .level_change_wrapper_calculator{
        padding: 1vh 2vw;
    }
}

@media only screen and (max-width:700px) {

    .sidebar-sakura{
        display: none;
    }

    .sidebar-yozakura{
        display: none;
    }

    .topLogo-sakura{
        font-size: 5vw;
    }

    .topLogo-yozakura{
        font-size: 5vw;
    }

    .grid5-yozakura{
        grid-column: 5;
        background: rgb(46, 46, 46);
    }

    .material-icons-outlined{
        content: e5d2;
        font-family: 'Material Icons';
    }

    .changeYozakuraMode{
        display: none;
    }

    .changeSakuraMode{
        display: none;
    }

    .topMenu{
        /* grid-template-columns: 5vw 1fr 25vw 5vw; */
    }

    .icon-sakura{
        color: rgb(233, 88, 132);
        grid-column: 4;
        font-size: 50px;
        cursor: pointer;
        display: flex;
    }

    .icon-sakura:hover{
        transition-duration:0.5s;
        color: rgb(0, 157, 255);
    }

    .icon-yozakura{
        color: rgb(21, 212, 255);
        background: rgb(0, 25, 123);
        grid-column: 4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 40px;
    }

    .mainArticle{
        grid-column: 2 / span 3;
        padding: 5vw 0;
    }

    .mainArticleAddCalc{
        text-align: left;
        padding: 5vw;
        grid-row: 2;
        grid-column: 2 / span 3;
    }

    .select_level{
        padding: 1vh 4vw;
    }

    #drawer {
        background: rgb(239, 195, 189);
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .unshown {
        display:none;
      }
      
      #close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      #menu-content {
        padding: 5vw;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 40%;
        max-width: 330px;
        height: 95%;
        background: rgb(255, 216, 216);
        transition: .3s ease-in-out;
        transform: translateX(200%);
      }
      #input:checked ~ #close {
        display: block;
        opacity: .5;
      }
      #input:checked ~ #menu-content {
        transform: translateX(100%);
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
      }

}
