/* mainFrame.css */
/* 
.mainWrapper{
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 10vw 20vw 1fr 10vw;
} */

/* .sidebar{
    text-align: left;
    overflow-y: scroll;
    color: rgb(44, 150, 56); 
    color: rgb(94, 89, 32);
    color: rgb(94, 83, 83);
    padding: 3vw;
    background: rgb(194, 166, 166);
} */

/* .mainArticle{
    color: rgb(28, 224, 28);
    text-align: left;
    overflow-y: scroll;
    padding: 5vw;
} */

/* TopMenu.css */

    header{
    display: grid;
    margin: 0;
    grid-column: 1 / span 5;
    grid-template-columns: 5vw 25vw 1fr 25vw 5vw;
    box-shadow: 5px 5px 10px gray;
    }
    
    .topMenu{
    /* display: grid; */
    /* grid-template-rows: 12vh; */
    /* grid-template-columns: 5vw 25vw 1fr 25vw 5vw; */
    /* background: rgb(233, 88, 132); */
    /* background: white; */
    background: rgb(239, 195, 189);
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    box-shadow: 5px 5px 10px gray;
    z-index: 99;
    }
    
    .li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* color: rgb(1, 207, 210); */
    color: rgb(233, 88, 132);
    /* color: rgb(149, 126, 128); */
    font-size: 20px;
    font-weight: bold;
    }
    
    /* .li:nth-child(2){
        justify-content: flex-end;
    } */
    
    .a{
        grid-row: 1;
        grid-column: 2;
        /* border-right: 2px solid rgb(149, 126, 128); */
        font-size: 35px;
        background: rgb(239, 195, 189);
        color: rgb(233, 88, 132);
        font-weight: bold;
        /* box-shadow: 0px 1px 10px 1px gray; */
    }

    .a a{
        color: rgb(233, 88, 132);
    }

    .grid1{
        grid-row: 1;
        grid-column: 1;
        background: rgb(239, 195, 189);
        /* box-shadow: 5px 0 10px gray; */
    }

    .grid2{
        grid-row: 1;
        grid-column: 3;
        background: rgb(239, 195, 189);
        /* box-shadow: 5px 0 5px gray; */
    }

    .grid3{
        grid-row: 1;
        grid-column: 5;
        background: rgb(239, 195, 189);
        /* box-shadow: 5px 0 5px gray; */
    }
    
    .b{
    grid-row: 1;
    grid-column: 2;
    font-size: 15px;
    }
    
    .c{
    grid-row: 1;
    grid-column: 4;
    font-size: 20px;
    background: rgb(239, 195, 189);
    /* box-shadow: 5px 0 5px gray; */
    }
    
    .d{
    grid-row: 1;
    grid-column: 4;
    font-size: 15px;
    border-right: 2px solid rgb(149, 126, 128);
    }
    
    .icon{
        display: none;
    }
    
    /* .mainArticle{
        color: rgb(28, 224, 28);
        text-align: left;
        overflow-y: scroll;
        padding: 5vw;
    } */

/* 追加 */

.sidebar{
    text-align: left;
    overflow-y: scroll;
    /* color: rgb(44, 150, 56); */
    padding: 3vw;
    grid-column: 2;
    grid-row: 2;
    /* background: rgb(194, 166, 166); */
}

.mainArticle{
    /* color: rgb(28, 224, 28); */
    text-align: left;
    overflow-y: scroll;
    padding: 5vw;
    grid-row: 2;
    grid-column: 3 / span 4;
}

/* .level_change_wrapper{
    display: grid;
    grid-template-columns: 19vw 1vw 19vw 1vw 19vw;
}

.bookkeeping3{
    grid-column: 1;
}

.bookkeeping2{
    grid-column: 3;
}

.bookkeeping1{
    grid-column: 5;
} */

.level_change_wrapper{
    display: flex;
    justify-content: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}


.select_level{
    border: 2px solid rgb(177, 78, 78);
    /* display: flex; */
    display: inline-block;
    margin-left: 10px;
    padding: 1vh 7vw;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color:rgb(177, 78, 78);
    /* text-align: center; */
    /* justify-content: center; */
}

.select_level:hover{
    background: #fff9b5;
}

.action{
    background: #fff9b5;
}

/* .select_level:nth-child(1){
    margin-left: 0;
} */

section {
    margin-bottom: 50px;
}

/* .margin_top{
    
} */

.top-image-size {
    width: 100%;
    border-radius: 5px;
}

.intro{
    border-left: 10px solid rgb(177, 78, 78);
    padding-left: 10px;
    color:rgb(242, 107, 107);
    font-size: 30px;
}

.font-color{
    color: rgb(78, 95, 106);
    font-size: 20px;
}

.font-color2{
    color:rgb(81, 139, 255);
}

.deco1{
    border: 10px dashed rgb(2, 255, 238);
}

.deco2{
    border: 10px solid rgb(225, 255, 253);
}

.underline{
    background: linear-gradient(transparent  70%, #fcdf08  70%);
}

table{
    width: 100%;
}

.table-size{
    width: 30vw;
}

.table-align{
    text-align: center;
}
/* 既存 */

.sideMenu{
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.sideList{
    list-style: none;
    font-size: 20px;
    padding-bottom: 5px;
    color: rgb(177, 78, 78);
}

.sideList a{
    color: rgb(177, 78, 78);
}

a{
    text-decoration: none;
}

a:hover {
    color: rgb(0, 157, 255);
}

.a a:hover{
    color: rgb(233, 88, 132);
}


.titleColor a{
    /* color: rgb(1, 120, 156); */
    color: rgb(242, 107, 107);
}

.titleColor{
    color: rgb(242, 107, 107);
}

.pink{
    color: rgb(242, 107, 107);
}

.page1{
    color: red;
}

/* .mainWrapper{
    display: grid;
    grid-template-rows: 88vh;
    grid-template-columns: 5vw 20vw 1fr 5vw;
} */

/* .sidebar{
    text-align: left;
    overflow-y: scroll;
    color: rgb(44, 150, 56);
    padding: 3vw;
    background: rgb(194, 166, 166);
} */

/* .mainArticle{
    color: rgb(28, 224, 28);
    text-align: left;
    overflow-y: scroll;
    padding: 5vw;
} */

@media only screen and (max-width:900px) {
    body {
        /* background: rgb(205, 214, 36); */
    }
}

@media only screen and (max-width:700px) {

    .sidebar{
        display: none;
    }

    .a{
        font-size: 5vw;
    }

    .material-icons-outlined{
        content: e5d2;
        font-family: 'Material Icons';
    }

    .c{
        display: none;
    }

    .topMenu{
        grid-template-columns: 5vw 1fr 25vw 5vw;
    }

    .icon{
        color: rgb(233, 88, 132);
        background: rgb(239, 195, 189); 
        grid-column: 4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 40px;
    }

    .mainArticle{
        grid-column: 2 / span 3;
    }

}
